* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}


.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(243, 243, 243);
}
.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
    background: rgba(255, 255, 255, 0.993);
    box-shadow: rgb(158, 158, 158) 5px 5px 5px;
    border-radius: 10px;
}

.conteudo div {
    padding-top: 10px;
}

.mensagem {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 5px;
}
.mensagem-horas {
    font-size: 1.1rem;
}
.img-tempo img {
    width: 40%;
    border-radius: 50%; 
    margin: 0 auto;
}

.img-tempo::after {
    content: '';
    height: 1px;
    width: 90%;
    background: rgb(173, 173, 173);
    display: inline-block;
    margin-left: 4.5%;
}